{% load mezzanine_tags staticfiles %}

{% for slideshow in slideshows %}
    {% if slideshow.page.id == page.id %}
        {% with slideshow.galleries.all as galleries %}
        {% for gallery in galleries %}
        <div class="slider col-md-6">
        <div class="slide-viewer">
        <h4>{{ gallery.title }}</h4>
            <div class="slide-group">
                {% with gallery.images.all as images %}
                {% for image in images %}
                <figure>
                    <img src="{{ MEDIA_URL }}{% thumbnail image.file 300 188 padding="True" %}" width="100%" />
                    <figcaption>{{ image.description }}</figcaption>
                </figure>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
        </div>
        {% endfor %}
        {% endwith %}
    {% endif %}
{% endfor %}