{% load mezzanine_tags staticfiles %}

{% for slideshow in slideshows %}
    {% if slideshow.page.id == page.id %}
        {% with slideshow.gallery as gallery %}
        <div class="col-md-6 remove-right-left-padding">
            <div class="bss-slides better-simple-slideshow slide-group">
                {% with gallery.images.all as images %}
                {% for image in images %}
                <figure>
                    <a class="mezzanine-slideshows-popup" title="{{ image.description }}" href="{{ image.file.url }}">
                    <img src="{{ MEDIA_URL }}{% thumbnail image.file 300 188 %}" width="100%" />
                    <figcaption>{{ image.description }}</figcaption>
                    </a>
                </figure>
                {% endfor %}
                {% endwith %}
            </div>
            <h4>{{ gallery.title }}</h4>
            <p>{{ gallery.description }}</p>
        </div>
        <script>
        $(document).ready(function() {
            $('.mezzanine-slideshows-popup').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        });
        </script>
        {% endwith %}
    {% endif %}
{% endfor %}