{% load mezzanine_tags %}

<script>
var opts = {
        //auto-advancing slides? accepts boolean (true/false) or object
        auto : {
            // speed to advance slides at. accepts number of milliseconds
            speed : 2500,
            // pause advancing on mouseover? accepts boolean
            pauseOnHover : true
        },
        // show fullscreen toggle? accepts boolean
        fullScreen : true,
        // support swiping on touch devices? accepts boolean, requires hammer.js
        swipe : true
    };
</script>

{% for slideshow in slideshows %}
    {% if slideshow.page.id == page.id %}
        {% with slideshow.galleries.all as galleries %}
        {% for gallery in galleries %}
        <script>makeBSS('.better-simple-slideshow{{ gallery.id }}', opts);</script>
        {% endfor %}
        {% endwith %}
    {% endif %}
{% endfor %}